// 
// colors
// 
:root {
    --maroon: #500000;
    --blue: #42a5f5;
    --teal: #4db6ac;
    --green: #81c784;
    --red: #e57373;
    --charcoal: hsl(180, 0%, 31%);
}


// 
// 
// helper classes
// 
// 
.centered {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-content: center;
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.circle {
    --size: fit-content;
    border-radius: 200vw;
    min-height: var(--size);
    min-width: var(--size);
}

.shadow {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

.animate {
    transition: all 0.5s ease-in-out 0s;
}